:root {
  font-size: 16px;
  --prim-color: hsl(200, 40%, 20%);
  --sec-color: hsl(190, 80%, 70%);
  --ter-color: hsl(50, 100%, 71%);
  --prim-acc: #F7FFF7;
  --sec-acc: #7e6b8f;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: var(--prim-color);
}

main section {
}



li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
}

.logo {
}

.main-header {
  color: var(--prim-color);
  background-color: var(--sec-color);
  display: flex;
  align-items: center;
  justify-content: space-between;

  scroll-snap-align: start;
  height: 5vh;
}

.main-nav ul{
  width: 25vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hero {
  height: 95vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  margin: 0 1.5rem;
}

.hero_title {
  color: var(--sec-color);
  font-style: italic;
  font-size: 5rem;
  letter-spacing: 1px;
}

.hero_caption {
  color: var(--ter-color);
}

.section-heading {
  color: var(--ter-color);
  font-size: 2.5rem;
}

.main_section {
  height: 100vh;
  margin: 0 2.5rem;
  scroll-snap-align: start;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 50vw;
  height: calc(100% - 2.5rem);
}

.project-title {
  color: var(--sec-color);
}

.project-preview {
  border: solid 2px var(--sec-color);
  width: 100%;
  height: 50%;
}

.project-summary {
  color: var(--prim-acc);
}

.project-card figure {
  width: 100%;
}

.list-title {
  color: var(--sec-color);
  text-align: center;
  padding: 1rem;
}

.languages-list {
  color: var(--ter-color);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.language {
  text-align: center;
  width: 20%;
}

figcaption {
  font-size: .75rem;
}

#skills {

}

.skills-list {
  color: var(--prim-acc);
}

#contact {
  height: 50vh;
}

footer {
  height: 50vh;
  color: var(--sec-acc);
  background-color: var(--sec-color);
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: end;
}